body {
	font-family: monospace;
	font-size: 13.6px;
	margin: auto;

	background-color: #181a1b;
	text-align: justify;
	color: #FFFFFF;
}

a {
	text-decoration: none; 
	color: #a3be8c;
}

a:visited {
	color: #bf616a
}

q {
	color: #bdae93;
}

i {
	color: #bdae93;
}

a,
.horizontal-divider {
	border-bottom: 1.3px solid;
}

h1,
.horizontal-divider {
	border-bottom: 1.3px solid;
}

h1 {
	color: #bdae93;
	margin-bottom: 10px;
}

table {
	width: 100%;
	text-align: center;
}

.picture { 
	width: 156px; 
	height: 156px;
}

.flex {
	justify-content: center;
	display: flex;
}

.profile {
	margin: 0px 30px;
}

.main {
	max-width: 400px;
}

.text {
	max-width: 600px;
}

.center {
	justify-content: center;
	justify-self: center;
	text-align: center;
	align-self: center;
}